.settings{
    padding: 20px;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.settings .prvtaccbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.toggle-btn {
    width: 42px;
    height: 24px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .toggle-circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s;
  }

  .toggle-btn.active {
    background-color: #3797F0;
  }

  .toggle-btn.active .toggle-circle {
    left: 20px;
  }